a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

img {
  display: block;
  border-radius: 25px;
}

h2{
  color: rgba(214, 200, 200, 0.986);
}

.container {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-item a{
  font-size: 18px;
  color: rgb(236, 229, 229);
}

.nav-list-link:hover{
  color: #ffffff;
}

.main {
  max-width: 1366px;
  height: 400px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(./pictures/header.jpg);
}

.main .main-title {
  text-align: center;
  padding-top: 44px;
  color: rgba(214, 200, 200, 0.986);
  font-size: 74px;
  font-family: "Cormorant SC", serif;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-list-item{
  cursor: pointer;
}

.menu-list-item:hover{
  color:rgba(214, 200, 200, 0.986);
}

.menu-name{
  text-align: start;
}

.menu-description{
  text-align: start;
  width: 300px;
  letter-spacing: 0.5px;
}



.team{
  background-color: #f5f4fa;
  padding-top: 2px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-member:not(:last-child) {
  margin-right: 40px;
}

.team-header {
  text-align: center;
  font-size: 42px;
}

.about-us {
  font-size: 22px;
  margin: 10px 450px;
}

.about-us h2{
  font-size: 24px;
}

.text-about-us {
  margin: auto;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.text-about-us p{
  letter-spacing: 2px;
  text-indent: 30px;
  margin: 5px;
}

.footer-adress-link:not(:last-child) {
  margin-bottom: 10px;
}



/* ---MEDIA QUERIES--- */



@media only screen and (max-width:1024px) {

  .main .main-title{
    font-size: 64px;
  }
  .container{
    width:80%;
  }

  .container .menu-list{
    display: flex;
    flex-wrap:wrap;

  }

  .about-us{
    margin: auto;
  }

  .team-list{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }
}

@media only screen and (max-width:768px) {

  .main .main-title{
    font-size: 64px;
  }
  
  .container{
    margin: auto;
    padding: 0 auto;
  }

  .nav-list-item a{
    font-size: 14px;
  }

.about-us{
  margin: auto;
}

  .nav-list-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-list{
    display: flex;
    flex-direction: column;

  }


  .team-list{
    display: flex;
    flex-direction: column;
  }
}



/*---SLIDER---*/
.slideshow-container {
  max-width: 1366px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  max-width: 700px;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
