a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

img {
  display: block;
}


.container {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
}



.nav-list-item:not(:last-child) {
  margin-right: 50px;
}





.nav-list-item a{
  font-size: 18px;
  color: rgb(236, 229, 229);
}

.main {
  max-width: 1366px;
  height: 300px;
  background-color: #2f303a;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(./header.jpg);
}

.main .main-title {
  text-align: center;
  padding-top: 44px;
  color: rgba(214, 200, 200, 0.986);
  font-size: 74px;
  font-family: "Cormorant SC", serif;
}

/* .main-btn {
  min-width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: rgba(235, 224, 204, 0.8);
  color: antiquewhite;
  border: 0px;
  cursor: pointer;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
  font-family: "Montserrat", sans-serif;
} */



 
.team-list {
  display: flex;
  justify-content: center;
}

.team-list-member:not(:last-child) {
  margin-right: 40px;
}

.team-header {
  text-align: center;
  font-size: 44px;
}






@media only screen and (max-width:900px) {

  .main .main-title{
    font-size: 64px;
  }
  .container{
    width:400px;
  }


  .team-list{
    display: flex;
    flex-direction: column;
  }
}

.slideshow-container {
  max-width: 1366px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


